@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

:root {
   /* primary colors */
   --bg-body:rgba(245, 241, 232, 1)
   --accent1: rgba(239, 180, 76, 1);
   --accent2: rgba(253, 132, 43, 1);
   --txt-light:rgba(245, 241, 232, 1);
   --txt-base: rgba(26, 26, 26, 1);
   --txt-base-para: rgba(245, 241, 232, 1);
   --color-bg-heading-menu: rgba(31, 39, 27,1);

   --width: 75vw;
   --height: 75vh;

   --rect-Left: calc(50vw - (var(--width) /2));
   /* calc(50vw - (var(--width) /2)); */
   --rect-Top: 50px;

   --cir-Left: calc(
     (var(--width) - var(--halfCircleW-H)) / 2 + var(--rect-Left)
   );
   --cir-Top: calc(var(--rect-Top) - (var(--halfCircleW-H) / 2));

   --color-BG: rgba(128, 128, 128, 0.15);
   --color-BG-edge: #bfbfbd;

}

/* reset */
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   background-image: url("img/Back-grd.jpg");
   height: 100vh;
   width: 100vw;
}

.container {
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   height:100vh;
}
.container h1{
   font-family: "Merriweather", serif;
   font-size:2rem;
   color: var(--txt-light);

}
.container p{
   font-family: "Merriweather", serif;
   color: var(--txt-light);
   margin-top:20px;
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--accent2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  border-radius:0 10% 10% 0;
}
/* Hamburger Lines  */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--txt-base);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:20%;
}
/*style for top and bottom  */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background-color: inherit;
  border-radius:20%;
}
/* moves the bottom line down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animate  */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* turn line into x */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}
/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* show menu */
.menu-wrap .toggler:checked ~ .menu{
  visibility:visible;
}

.menu-wrap .toggler:checked ~ .menu > div{
  transform:scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div{
  opacity:1;
  transition: opacity 0.4s ease;
}


/* show menu */
.menu-wrap .toggler:checked ~ .menu{
  visibility:visible;
}

.menu-wrap .toggler:checked ~ .menu > div{
  transform:scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div{
  opacity:1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  visibility:hidden;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div{
  background:var(--color-bg-heading-menu);
  margin-top:100px;
  border-radius:50%;
  width:200vw;
  height:200vw;
  display:flex;
  flex:none;
  align-items: center;
  justify-content: center;
  transform:scele(0);
  transition:all 0.4s ease;
  overflow: scroll;
}
.menu-wrap .menu > div >div{
  text-align:center;
  max-width:100vw;
  max-height:100vh;
  opacity:0;
  transition:opacity  0.4s ease;
}
.menu-wrap .menu > div > div > ul > li{
  list-style:none;
  color:white;
  font-size:1.0rem;
  padding:1rem;
}
.menu-wrap .menu > div > div > ul > li > a{
  color:inherit;
  text-decoration:none;
  transition:color  0.4s ease;
}

.button-16{
   cursor: pointer;
   border: 1px solid var(--accent2);
   border-radius:calc(50px / 2);
   background-color: transparent;
   height: 50px;
   width:200% ;
   color: var(--bg-body);
   font-size: 1.0rem;
   box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
   transition:color  0.4s ease;
}

.button-16:active{
   height: 55px;
   width:150% ;
}

.glassContainer {
  position: relative;
  opacity:0;
  z-index: -1;

}

.rectangle {
  position: absolute;
  width: var(--width);
  height:var(--height);
  left: var(--rect-Left);
  top: var(--rect-Top);
  overflow:auto;

  /* From https://css.glass*/
  background: rgba(255, 255, 255, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.9);
}
.gridbox {
  background: transparent;
  border-radius: 5px;
  line-height: 1.5;
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  display: grid;
  grid-template-areas:
    "header header header"
    "id_no Name TYPE"
    " Fat_Name  DOB aadhar"
    "ESIC_NAME ESIC_No UAN_no"
    "Bank IFSC_Code Acc_no"
    "vacc1 vacc2 ."
    "address address address"
    ;
}
.gridbox h1 {
  background: inherit;
  color: var(--txt-base);
  text-align: center;
  grid-area: header;
}
#Id_no {
  grid-area: id_no;
  margin: 10px;
  background: inherit;
}
#name {
  grid-area: Name;
  margin: 10px;
  background: inherit;
}
#Fathers_Name {
  grid-area: Fat_Name;
  margin: 10px;
  background: inherit;
}
#DOB {
  grid-area: DOB;
  margin: 10px;
  background: inherit;
}
#Aadhar_Number {
  grid-area: aadhar;
  margin: 10px;
  background: inherit;
}
#ESIC_NAME {
  grid-area: ESIC_NAME;
  margin: 10px;
  background: inherit;
}
#ESIC_no {
  grid-area: ESIC_No;
  margin: 10px;
  background: inherit;
}
#UAN_no {
  grid-area: UAN_no;
  margin: 10px;
  background: inherit;
}
#Type {
  grid-area: TYPE;
  margin: 10px;
  background: inherit;
}
#IFSC_Code {
  grid-area: IFSC_Code;
  margin: 10px;
  background: inherit;
}
#Account_no {
  grid-area: Acc_no;
  margin: 10px;
  background: inherit;
}
#Bank {
  grid-area: Bank;
  margin: 10px;
  background: inherit;
}

#Vaccine_1st_Dose {
  grid-area: vacc1;
  margin: 10px;
  background: inherit;
}
#Vaccine_2nd_Dose {
  grid-area: vacc2;
  margin: 10px;
  background: inherit;
}
#Address {
  grid-area: address;
  margin: 10px;
  background: inherit;
}

.subGlass,
.subGlass p,
.subGlass h2 {
  background: inherit;
  var(--txt-base);
}
.subGlass {
  border-bottom: 1px solid white;
}


#clsBtn{
   position:fixed;
   height:50px;
   width:50px;
   top:10px;
   left:calc(100% - 50px - 10px);
   cursor:pointer;
}
#clsBtn:hover{
   transition-duration:0.5s;
   transition: ransform: scale(1.02);
}



@media (max-width:800px) {
   .gridbox {
     background: transparent;
     border-radius: 5px;
     line-height: 1.5;
     padding: 1rem 2rem;
     margin-top: 1rem;
     margin-left: 1rem;
     display:block;
   }
}
